#include "common_keymap.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEF";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R  &kp T           &kp Y      &kp U  &kp I          &kp O    &kp P          &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D     &kp F  &kp G           &kp H      &kp J  &kp K          &kp L    &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C     &kp V  &kp B           &kp N      &kp M  &kp COMMA      &kp DOT  &kp SLASH      &kp ENTER
                              &kp LALT  &mo 1  &kp KP_ENTER    &kp SPACE  &mo 2  &kp RIGHT_WIN
            >;
        };

        symbols_layer {
            label = "SYMB";
            bindings = <
&kp ESC    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5          &kp NUMBER_6          &kp NUMBER_7           &kp NUMBER_8    &kp NUMBER_9     &kp NUMBER_0  &kp BSPC
&kp GRAVE  &none         &none         &none         &kp MINUS       &kp EQUAL       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BSLH      &trans
&kp TAB    &none         &none         &none         &kp UNDERSCORE  &kp PLUS        &kp LBKT              &kp RIGHT_BRACKET      &kp TILDE       &kp GRAVE        &trans        &kp ENTER
                                       &kp LCMD      &trans          &kp KP_ENTER    &kp SPACE             &mo 3                  &kp RWIN
            >;
        };

        arrows_layer {
            label = "NAV";
            bindings = <
&kp ESC  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_CLR           &kp HOME  &trans    &kp UP    &none      &none  &kp BSPC
&none    &none         &kp C_PP      &kp C_NEXT    &kp PAGE_UP    &kp C_VOLUME_UP      &kp END   &kp LEFT  &kp DOWN  &kp RIGHT  &none  &kp RET
&kp TAB  &none         &none         &kp C_PREV    &kp PAGE_DOWN  &kp C_VOLUME_DOWN    &trans    &trans    &none     &none      &none  &none
                                     &kp LCMD      &mo 4          &trans               &trans    &trans    &trans
            >;
        };

        numbers_layer {
            label = "NUM";
            bindings = <
&kp ESC  &kp F1  &kp F2  &kp F3        &kp F4     &kp F5           &kp F6         &kp F7     &kp F8  &kp F9  &kp F10  &kp F11
&none    &none   &none   &none         &trans     &trans           &trans         &trans     &trans  &trans  &trans   &kp RET
&kp TAB  &none   &none   &none         &kp FSLH   &kp MINUS        &trans         &trans     &trans  &trans  &trans   &to ARROWS_L
                         &kp LEFT_ALT  &kp LSHFT  &mo DEFAULT_L    &mo SYMBOLS_L  &kp SPACE  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
